<div class="contact">
  <div class="container-fluid header">
    <%= flash[:notice] %>

      <%= form_tag("/static_pages/thank_you") do %>

  </div><!--container header-->
</div>
  <div class="container-fluid">
    <div class="row one">
      <div class="col-sm-1">

      </div>
      <div class="sidebar col-sm-2">
        <ul>
          <li><%= image_tag("logo.jpg", width: "200", height: "200") %></li>
          <li class="sidebar-li"><%= link_to 'Portraits', products_path %></li>
          <li class="sidebar-li"><%= link_to 'T-Shirts', tshirts_path %></li>
          <li class="sidebar-li"><%= link_to 'Commissions', commissions_path %></li>
        </ul>
      </div>
      <div class="col-sm-1">

      </div>
      <div class="col-sm-9">
        <div>
          <%= image_tag('john-banner.png', class: 'img-responsive', width: '75%') %>
        </div>
        <br>
        <br>
        <p>Lorem ipsum dolor amet before they sold out butcher man bun occupy hoodie etsy
          williamsburg keytar, lomo tacos wayfarers tbh schlitz art party. Neutra tattooed
          DIY, air plant truffaut irony mumblecore cold-pressed tousled mlkshk pok pok austin
          shaman. Asymmetrical tumeric kinfolk artisan. Wolf 90's mumblecore jean shorts.</p>
      </div>
    </div>
    <div class="row two">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-4">
          <ul>
            <li class="contact-header">Commisions</li>
            <br>
            <li class="contact item">Mark Baker</li>
            <li class="contact item">Telephone Number: 0000 0000 0000</li>
            <li class="contact item">Email: email@example.com</li>
          </ul>
      </div>
      <div class="col-sm-4">
          <ul>
            <li class="contact-header">Print Orders</li>
            <br>
            <li class="contact item">ASdjaskndsakjn</li>
            <li class="contact item">ASdjaskndsakjn</li>
          </ul>
      </div>
    </div>
     <!-- row top -->
      <!--<div class="col-sm-6">
        <div class="form-group">
          <%= label_tag :name %>
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", required: "true"%>
        </div><!--name-->
        <!--<div class="form-group">
          <%= label_tag :email, "Email Address" %>
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", required: "true", type: "email" %>
        </div><!--email-->
        <!--<div class="form-group">
          <%= label_tag :message %>
          <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", required: "true" %>

          <button class="btn btn-danger" style="border: none; margin-top: 1em; padding: 0">
          <%= submit_tag "Send", class: 'btn btn-danger contact', style: 'border: none' %>
          </button>
        <% end %>
      </div><!--message-->
    <!--</div><!--col-sm-6-->
  </div><!--row-->
  </div>
  <style media="screen">
  p {
    font-weight: lighter;
  }
  h3 {
    text-align: center;
    font-weight: lighter;
  }
  ul li {
    color: black;
    font-weight: lighter;
  }
  .row.one {
    margin-top: 2em;
  }
  .row.two {
    margin: 3em auto 9em auto;
  }
  .contact-header {
    font-size: 2em;
  }
  .contact.item {
    font-size: 1.3em;
  }
  .col-sm-9 p, .contact-header {
    padding-bottom: 2em;
    border-bottom: 1px solid #f531db;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .col-sm-2 {
      display: none;
    }
    .col-sm-9 {
      top: 2em;
    }
    .col-sm-9 p {
      border-bottom: none;
    }
    .col-sm-3 {
      display: none;
    }
    ul {
      padding: 0;
    }
    li.contact.item {
      padding: 0;
    }
    .contact-header {
      padding: 0;
    }

  }
  </style>
