<div class="contact">
  <div class="container-fluid header">
    <h1>Contact Us</h1>
    <%= flash[:notice] %>

      <%= form_tag("/static_pages/thank_you") do %>

  </div><!--container header-->
</div>
    <div class="row">
      <div class="col-sm-8 contact">

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= label_tag :name %>
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", required: "true"%>
        </div><!--name-->
        <div class="form-group">
          <%= label_tag :email, "Email Address" %>
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", required: "true", type: "email" %>
        </div><!--email-->
        <div class="form-group">
          <%= label_tag :message %>
          <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", required: "true" %>

          <button class="btn btn-danger" style="border: none; margin-top: 1em; padding: 0">
          <%= submit_tag "Send", class: 'btn btn-danger contact', style: 'border: none' %>
          </button>
        <% end %>
      </div><!--message-->
    </div><!--div-->
  </div><!--row-->

<style media="screen">
  .col-sm-8.contact {
    height: 700px;
    width: 100%;
    background-image: url('/assets/contact.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
</style>
