<div class="container-fluid">
  <h1>Welcome to Murky Art</h1>
  <h2>Your source for art</h2>
  <div class="row portraits">

    <div class="portraits carousel col-sm-3">
      <div class="" id="landing-carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% @products.each do |product| %>
            <div class="item<%= " active" if product == @products.first %>">
              <%= image_tag(product.image_url, :style => "margin: 0 auto;", size: "500x500") %>

              <div class="carousel-caption">
                <%= product.name %>
              </div>
                </div>
            <% end %>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
          <!-- carousel indicators -->
      </div><!-- landing carousel -->
    </div><!-- potraits-carousel -->
    <div class="tshirts carousel col-sm-3">
      <div class="" id="landing-carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% @products.each do |product| %>
            <div class="item<%= " active" if product == @products.first %>">
              <%= image_tag(product.image_url, :style => "margin: 0 auto;", size: "500x500") %>

              <div class="carousel-caption">
                <%= product.name %>
              </div>
                </div>
            <% end %>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
          <!-- Indicators -->
      </div><!-- landing carousel -->
    </div><!-- tshirts carousel -->
    <div class="commissions carousel col-sm-3">
      <div class="" id="landing-carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% @products.each do |product| %>
            <div class="item<%= " active" if product == @products.first %>">
              <%= image_tag(product.image_url, :style => "margin: 0 auto;", size: "500x500") %>

              <div class="carousel-caption">
                <%= product.name %>
              </div>
                </div>
            <% end %>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
          <!-- Indicators -->
      </div><!-- landing carousel -->
    </div><!-- commissions carousel -->
  </div><!-- row portraits -->
</div><!-- container-fluid -->
