<div class="products">
  <p id="notice"><%= notice %></p>
  <div class="header">
    <h2>Portraits</h2>
    <p class="pull-right">
      <% if signed_in? && current_user.admin? %>
      <%= link_to 'New Product', new_product_path , class: "btn btn-danger" %>
      <% end %>
    </p><!-- new product btn -->
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1">

      </div>
      <div class="sidebar col-sm-2">
        <ul>
          <li><%= image_tag("logo.jpg", width: "200", height: "200") %></li>
          <li><%= link_to 'Portraits', products_path %></li>
          <li><%= link_to 'T-Shirts', tshirts_path %></li>
          <li><%= link_to 'Commissions', commissions_path %></li>
        </ul>
      </div>
      <div class="products col-sm-7">

      </div>
    </div>
  </div>
</div>
