<head>
  <style media="screen">
  div.products {
    margin-top: 1.3em;
  }
  .header h2 {
    font-weight: lighter;
    margin-bottom: 1em;
    }
  .product-image {
    padding: 30px;
    border: 3px solid lightgrey;
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(46,74,117,0.39);
    -moz-box-shadow: 0px 0px 20px 0px rgba(46,74,117,0.39);
    box-shadow: 0px 0px 20px 0px rgba(46,74,117,0.39);
  }
  .product-info.col-sm-6 {
    top: 3em;
    width: 45%;
  }
  .product-model p {
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 100px;
  }
  p.price, h2 {
    text-align: center;
  }
  .buttons {
    margin-top: 100px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .row {
      padding: 0;
    }
    .col-sm-2 {
      display: none!important;
    }
    .product-model p {
      margin-top: 0;
    }
    p.price, .buttons {
      margin-top: 1em;
    }
    .product-info.col-sm-6 {
      width: 100%;
    }
    div.zoomContainer {
      display: none;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .row {
      margin: 0 auto;
    }
    .col-sm-3 {
      width: 60%;
      text-align: center;
      float: none;
      margin: 0 auto;
      position: static;
    }
    .product-model p {
      margin: 0 auto;
    }
    .col-sm-6 {
      left: 10%;
    }
    p.price {
      margin-top: 0!important;
      text-align: center;
    }
    .product-info.col-sm-6 {
      width: 100%;
    }
    div.zoomContainer {
      display: none;
    }
  }
  </style>
</head>
<div class="products">
  <p class="pull-right btn">
    <% if signed_in? && current_user.admin? %>
    <%= link_to 'New Product', new_product_path , class: "btn btn-danger" %>
    <% end %>
  </p><!-- new product btn -->
  <p id="notice"><%= notice %></p>

  <div class="container-fluid">
    <div class="row" data-product-id="<%= @product.id %>">
      <p id="notice"><%= notice %></p>
      <div class="col-sm-1">

      </div>
      <div class="sidebar col-sm-2">
        <ul>
          <li><%= image_tag("logo.jpg", width: "200", height: "200") %></li>
          <li class="sidebar-li"><%= link_to 'Portraits', products_path %></li>
          <li class="sidebar-li"><%= link_to 'T-Shirts', tshirts_path %></li>
          <li class="sidebar-li"><%= link_to 'Commissions', commissions_path %></li>
        </ul>
      </div>

      <div class="product-image col-sm-3">
        <div class="header">
          <h2> <%= @product.name %> </h2>
        </div>
        <% if @product.image_url.present? %>
          <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url, style: "width: 100%;") %>
          <% cache @product do %>
          <% end %> <!-- caching -->
        <% end %>
      </div><!--product-image-->
      <div class="product-info col-sm-6">
        <div class="product-description">
          <div class="product-model">
            <p><%= @product.description %></p>
            <p class="price">£<%= @product.price %></p>
            <div class="text-center buttons">
              <% if signed_in? && current_user.admin? %>
              <%= link_to 'Delete',
                product_path(@product), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger', style: 'margin: 1em; color: white' %>
              <% end %>

              <%= form_tag "/payments/create" do %>
                <%= render partial: "shared/stripe_checkout_button" %>
              <% end %>

              <% if signed_in? && current_user.admin? %>
              <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-danger', style: 'margin: 1em; color: white' %>
              <% end %>


            </div><!--buttons-->
          </div><!-- prod-model-->
        </div><!--prod description-->
      </div><!--product-info-->
    </div><!--row-->
  </div><!--container-fluid-->
</div><!--products-->
