<section>
  <div class="show">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-lg-1">

      </div>
      <div class="col-lg-5">
        <% if @product.image_url.present? %>
          <%= image_tag(@product.image_url, class: "img-responsive", style: "width: 60%;") %>
        <% end %>

        <div class="product-info">

          <p><strong>Name:</strong>
          <%= @product.name %></p>

          <p><strong>Description:</strong>
          <%= @product.description %></p>

          <p><strong>Colour:</strong>
          <%= @product.colour %></p>

          <p><strong>Price:</strong>
          £<%= @product.price %></p>

          <div class="text-center">
            <% if signed_in? && current_user.admin? %>
            <%= link_to 'Delete',
              product_path(@product), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default' %>
            <% end %>

            <% if signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-default' %>
            <% end %>

            <%= form_tag "/payments/create" do %>
              <%= render partial: "shared/stripe_checkout_button" %>
            <% end %>
          </div>

          <br />

          <p class="rated" data-score="<%= @product.average_rating %>">Average rating : </p>

        </div><!--product-info-->
      </div><!--col-lg-6-->
      <div class="col-lg-5">
        <p><strong>Reviews</strong></p>
        <p class="rated" data-score="<%= @product.highest_rating_comment %>"> Highest rating : </p>
        <p class="rated" data-score="<%= @product.lowest_rating_comment %>"> Lowest rating : </p>
        <%= render 'new_comment' %>
        <%= render 'comments' %>
        <% @comments.each do |comment| %>
          <% end %>
        <%= will_paginate @comments %>
      </div>
    </div><!--row-->
  </div><!--show-->
</section>
