<!DOCTYPE html>
<html>
  <head>
    <title>Murky Art</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

  </head>

  <body>
    <section>
      <nav class="navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span id="bar" class="icon-bar"></span>
              <span id="bar" class="icon-bar"></span>
              <span id="bar" class="icon-bar"></span>
            </button>

          </div>
          <div class="navbar-brand brand-name navbar-left">
            <a class="pull-left"><%= image_tag("logo.jpg", width: "40", height: "40") %></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li id="home" class="nav-font"><%= link_to 'Home', root_path %></li>
              <li class="nav-font"><%= link_to "Who's your hero?", products_path %></li>
              <li class="nav-font"><%= link_to 'About', static_pages_about_path %></li>
              <li class="nav-font"><%= link_to 'Contact', static_pages_contact_path %></li>

              </ul>
              <ul class="nav navbar-nav login">
                <li id="dropdown">
                  <%= form_tag("/products", method: "get") do %>
                    <%= label_tag(:q, "Search for:") %>
                    <%= text_field_tag(:q, nil, style: "color: black;") %>
                    <%= submit_tag("Search", class: 'btn btn-danger') %>
                  <% end %>
                </li>
                <% if user_signed_in? %>
                  <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
                  <li id="login"><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
                <% else %>
                  <li ><%= link_to('Login', new_user_session_path) %></li>
                <% end %>

              </ul>
          </div>
        </div>
      </nav>

      <div class="small-screen-logo" style="display: none;">
        <%= image_tag ("logo.jpg"), class: "img-responsive" %>
      </div>

      <br />
      <br />
      <br />

      <div class="notice">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

      <br />
      <div class="yield" style="">
        <%= yield %>
      </div>

      <div class="push"></div>
      <footer class="footer">
        <p>&copy; 2017 Murky <span class="murky-colours">Art</span></p>
      </footer>
    </section>

  </body>
</html>
