<!DOCTYPE html>
<html>
  <head>
    <title>Berlin Bikes</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

  </head>

  <body>

    <nav class="navbar-collapse">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Products', products_path %></li>
        <li><%= link_to 'About', static_pages_about_path %></li>
        <li><%= link_to 'Contact', static_pages_contact_path %></li>
        <li class="float-r">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          <% else %>
          <%= link_to('Login', new_user_session_path) %>
          <% end %>
        </li>
        <li class="search">
          <%= form_tag("/products", method: "get") do %></li>
          <li class="float-r"><a><%= submit_tag("Search", class: 'btn btn-default') %><a/></li>
          <li class="float-r"><a><%= text_field_tag(:q,) %><a/></li>
          <li class="float-r"><a><%= label_tag(:q, "Search for:") %><a/></li>
        <% end %>
      </ul>
    </nav>

    <br />
    <br />
    <br />

    <div class="notice">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    <br />

    <%= yield %>

    <footer>
      <p>&copy; 2017 Bike Berlin</p>
    </footer>
  </body>
</html>
